{
  "singleQuote": false,
  "proseWrap": "preserve",
  "embeddedLanguageFormatting": "auto",
  "overrides": [
    {
      "files": ["*.md", "*.mdx"],
      "options": {
        "singleQuote": false,
        "printWidth": 120
      }
    }
  ]
}
