{%- set mysite = 'https://www.couchcms.com/' -%}
{%- if page.metadata.absoluteLinks -%}
    {%- set base = '/' -%}
{%- else -%}
    {%- set base = './' -%}
{%- endif -%}

{%- if page.metadata.category -%}
    {%- set base = '../' -%}

    {%- if page.metadata.category == 'concept' -%}
        {%- set categoryTitle = 'Core Concepts' -%}
        {%- set categoryLink = 'concepts.html' -%}
    {%- elif page.metadata.category == 'tag' -%}
        {%- set categoryTitle = 'Tags Reference' -%}
        {%- set categoryLink = 'tags-reference.html' -%}
    {%- elif page.metadata.category == 'tutorial' -%}
        {%- set categoryTitle = 'Tutorials' -%}
        {%- set categoryLink = 'tutorials.html' -%}
    {%- elif page.metadata.category == 'miscellaneous' -%}
        {%- set categoryTitle = 'Miscellaneous' -%}
        {%- set categoryLink = 'miscellaneous.html' -%}
    {%- endif -%}

    {%- if page.metadata.subCategory -%}
        {%- set base = '../../' -%}

        {%- if page.metadata.subCategory == 'editable' -%}
            {%- set subCategoryTitle = 'editable' -%}
            {%- set subCategoryLink = 'editable.html' -%}
        {%- elif page.metadata.subCategory == 'portfolio-site' -%}
            {%- set subCategoryTitle = 'Sample Portfolio Site' -%}
            {%- set subCategoryLink = 'portfolio-site.html' -%}
        {%- endif -%}
    {%- endif -%}
{%- endif -%}


<!doctype html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>{% if page.title != 'Untitled' %}{{page.title|escape}} - {% endif %}Documentation | CouchCMS - A simple and Open-Source CMS for web designers</title>
	<meta name="description" content="{% if page.metadata.desc %}{{page.metadata.desc}}{% else %}CouchCMS - A simple, light-weight and open-source CMS for web designers{% endif %}">
	<meta name="keywords" content="">
	<link rel="shortcut icon" href="{{base}}assets/img/favicon.ico">
	<link rel="apple-touch-icon" href="{{base}}assets/img/apple-touch-icon.jpg">
	<link rel="apple-touch-icon" sizes="72x72" href="{{base}}assets/img/apple-touch-icon-72x72.jpg">
	<link rel="apple-touch-icon" sizes="114x114" href="{{base}}assets/img/apple-touch-icon-114x114.jpg">
    <link rel="stylesheet" type="text/css" href="{{base}}assets/css/custom-animations.css" />
	<link rel="stylesheet" type="text/css" href="{{base}}assets/css/lib/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="{{base}}assets/css/style.css" />


    <link rel="stylesheet" type="text/css" href="{{base}}assets/css/docs-style.css" />

	<!--[if lt IE 9]>
		<script src="{{base}}assets/js/html5shiv.js"></script>
		<script src="{{base}}assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<!-- Header -->
	<header>
		<nav class="navigation navigation-header relative-header background-header">
			<div class="container">
				<div class="navigation-brand">
					<div class="brand-logo">
						<a href="{{mysite}}" class="logo"></a><a href="{{mysite}}" class="logo logo-alt"></a>
					</div>
				</div>
				<button class="navigation-toggle">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="navigation-navbar collapsed">
					<ul class="navigation-bar navigation-bar-left">
						<li><a href="{{mysite}}">Home</a></li>
                        <li><a href="{{mysite}}products/">Downloads & License</a></li>
                        <li class="active"><a href="http://docs.couchcms.com/">Documentation</a></li>
						<li><a href="{{mysite}}forum/">Forum</a></li>
                        <li><a href="{{mysite}}contact/">Contact Us</a></li>
					</ul>
					<ul class="navigation-bar navigation-bar-right">
						<li class="featured"><a class="btn btn-sm btn-outline-color" href="https://github.com/CouchCMS/CouchCMS">GitHub Repository</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<section class="section dark-text" >
		<div class="container">
        <!-- start -->
        <a class="report-bug" data-title="{{page.title|escape}}" href="https://github.com/CouchCMS/Documentation/issues/new" target="_blank" title="Is there a mistake on this page? Report the issue!"><img alt="" src="{{base}}assets/img/bug.png"/></a>

        <div id="content">
            {%- if page.title != 'Untitled' -%}
                {%- set position = 1 -%}

                <ul class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{base}}index.html" itemprop="item"><span itemprop="name">Documentation</span><meta content="{{position}}" itemprop="position"/></a></li>

                    {%- set position = position + 1 -%}

                    {%- if page.metadata.category -%}
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{base}}{{categoryLink}}" itemprop="item"><span itemprop="name">{{categoryTitle}}</span><meta content="{{position}}" itemprop="position"/></a></li>

                        {%- set position = position + 1 -%}

                        {%- if page.metadata.subCategory -%}
                            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="../{{subCategoryLink}}" itemprop="item"><span itemprop="name">{{subCategoryTitle}}</span><meta content="{{position}}" itemprop="position"/></a></li>

                            {%- set position = position + 1 -%}
                        {%- endif -%}
                    {%- endif -%}

                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a class="text-link" href="{{base}}{{page.url}}" itemprop="item"><span itemprop="name">{{page.title|escape}}</span><meta content="{{position}}" itemprop="position"/></a></li>
                </ul>
            {%- endif -%}

            <article>{{page.html}}</article>
        </div>
        <!-- end -->
		</div>
	</section>

    <section>&nbsp;</section>

	<footer id="footer" class="footer light-text">
		<div class="container">
			<div class="footer-content row">
				<div class="col-sm-12 social-wrap col-xs-12">
					<strong class="heading">Follow us on Twitter</strong>
					<ul class="list-inline socials">
						<li><a href="https://twitter.com/CouchCMS"><span class="icon icon-socialmedia-07"></span></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="copyright">&copy; 2010-2017 Webzyme Softwares Pvt. Ltd. All Rights Reserved</div>
	</footer>

	<div class="back-to-top"><i class="fa fa-angle-up fa-3x"></i></div>

	<!--[if lt IE 9]>
		<script type="text/javascript" src="{{base}}assets/js/jquery-1.11.3.min.js?ver=1"></script>
	<![endif]-->
	<!--[if (gte IE 9) | (!IE)]><!-->
		<script type="text/javascript" src="{{base}}assets/js/jquery-2.1.4.min.js?ver=1"></script>
	<!--<![endif]-->

	<script type="text/javascript" src="{{base}}assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{base}}assets/js/startuply.js"></script>
    <script type="text/javascript" src="{{base}}assets/js/ga.js"></script>
</body>
</html>
